:root {
  --mainBlue: #96bcd3;
  --lightBlue: #096ba3;
  --mainWhite: #f3f3f3;
  --mainDark: #1f4980;
  --mainYellow: #ffa400;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  background: var(--lightBlue) !important;
  color: var(--mainDARK) !important;
}
.text-title {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--mainBlue);
}

.btn-block {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainYellow) !important;
  border-radius: 0.8rem solid !important;
  border: 0.1rem solid var(--mainBlue) !important;
}
.btn-block:hover {
  background: var(--mainWhite) !important;
  color: var(--mainYellow) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
