:root {
  --mainBlue: #262696;
  --lightblue: #1e70a0;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  background: var(--lightBlue) !important;
  color: var(--mainDARK) !important;
}
.text-title {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
